@model EDDProyecto.Models.Video
@{
    ViewBag.Title = "Catalogo";
}

<h1>Catálogo</h1>
<p><h2>Menu:</h2></p>
<p>Indique la acción que desea realizar:</p>

<p>@Html.ActionLink("Ingresar video de forma manual", "Insertar")</p>
<p>@Html.ActionLink("Ingresar video en formato Json", "LecturaArchivo") </p>
<p>@Html.ActionLink("Eliminar Video", "Eliminar")</p>
<p>@Html.ActionLink("Crear un usuario nuevo", "Registrar") </p>
<p>@Html.ActionLink("Cargar usuarios", "InsertarUsuarios")</p>









