@model EDDProyecto.Models.Video
@{
    ViewBag.Title = "Catalogo";
}

<h1>Menú</h1>
<p>Indique la acción que desea realizar:</p>

<p>@Html.ActionLink("Ingresar video de forma manual", "Registrar")</p>
<p>@Html.ActionLink("Ingresar video en formato Json", "LecturaArchivo") </p>
<p>@Html.ActionLink("Eliminar Video", "Eliminar")</p>
<p>@Html.ActionLink("Crear un usuario nuevo", "Insertar") </p>
<p>@Html.ActionLink("Cargar usuarios", "InsertarUsuarios")</p>









